body {
    background-color: #F2EBE9;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dbdffd;
    border: 1px solid #242f9b;
}

.row {
    display: flex;
}

.display {
    display: flex;
    height: 64px;
    width: 192px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #242f9b;;
}

#displayText {
    flex: 1 1 auto;
    color: #242f9b;
}

button {
    background-color: #9ba3eb;
    height: 64px;
    width: 64px;
    border: 1px solid #242f9b;
    box-sizing: border-box;
    color: #242f9b;
}