body {
    background-color: #9bb7c7;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1d2731;
    border: 1px solid #1d2731;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 #1d2731, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
    display: flex;
}

.display {
    display: flex;
    align-items: center;
    background-color: #e9e9e9;
    box-sizing: border-box;
    height: 64px;
    width: 448px;
    border: 1px solid #1d2731;
    border-radius: 4px;
}

#displayText {
    flex: 1 1 auto;
    font-family: sans-serif;
    font-size: large;
    color: #1d2731;
    padding: 8px;
}

button {
    font-family: sans-serif;
    font-size: large;
    font-weight: bolder;
    cursor: pointer;
    color: #1d2731;
    background-color: #6ec4db;
    box-sizing: border-box;
    height: 64px;
    width: 112px;
    border: 1px solid #1d2731;
    border-radius: 4px;
}

button:hover {
    background-color: #82d0e6;
    transition: 0.2s;
}

#equals {
    background-color: #fcef9d;
    width: 224px;
}

#equals:hover {
    background-color: #fff5bf;
    transition: 0.2s;
}